alembic==1.18.4
asyncpg
fastapi[standard]
fastapi==0.128.8
psycopg2_binary==2.9.11
pydantic==2.12.5
sqlalchemy
pyrad==2.5.4

# Dev
httpx==0.28.1
pytest==9.0.2
# pytest_asyncio==1.3.0
pytest-cov==7.0.0
mypy==1.19.1