{%- set ns = namespace(ldap_unlang="%{") %}
{%- for lc in ldap_configs -%}
	{%- if not loop.first %}
		{%- set ns.ldap_unlang = ns.ldap_unlang ~ "%{" %}
	{%- endif %}
	{%- set ns.ldap_unlang = ns.ldap_unlang ~ "%{control:ldap_" ~ lc.ad_domain | replace(".", "_") ~ "-LDAP-Group[*]}:-" %}
{%- endfor %}
{%- set ns.ldap_unlang = ns.ldap_unlang ~ "" %}
{%- for lc in ldap_configs -%}
	{% set ns.ldap_unlang = ns.ldap_unlang ~ '}' %}
{%- endfor %}

rest {
	tls {
		check_cert = no
		check_cert_cn = no
	}

	connect_uri = "http://nac_api_internal:8000"
	http_negotiation = "default"
	multiplex = yes

	# For MAB authentication
	authorize {
		uri = "${..connect_uri}/api/v2/auth"
		method = 'post'
		tls = ${..tls}
		body = json
		data = '{ \
			"username": "%{User-Name}", \
			"nas_identifier": "%{NAS-Identifier}", \
			"nas_port_id": "%{NAS-Port-Id}", \
			"nas_port_type": "%{NAS-Port-Type}", \
			"calling_station_id": "%{Calling-Station-Id}", \
			"called_station_id": "%{Called-Station-Id}", \
			"nas_ip_address": "%{NAS-IP-Address}" \
		}'
	}

	# For eap-tls we will call the REST API in post-auth
	# Set query param mode=post-auth to make the api return code: 200 even for reject messages
	# If will return a control:Auth-Type Reject to make freeradius reject even for code 200.
	post-auth {
		uri = "${..connect_uri}/api/v2/auth"
		method = 'post'
		tls = ${..tls}
		body = json
		data = '{ \
			"username": "%{User-Name}", \
			"nas_identifier": "%{NAS-Identifier}", \
			"nas_port_id": "%{NAS-Port-Id}", \
			"nas_port_type": "%{NAS-Port-Type}", \
			"calling_station_id": "%{Calling-Station-Id}", \
			"called_station_id": "%{Called-Station-Id}", \
			{#- Dont send ldap_groups if we do not have ldap integration enabled #}
			{%- if ldap_configs | default([]) | length != 0 %}
			"ldap_groups": "{{ ns.ldap_unlang }}", \
			{%- endif %}
			"nas_ip_address": "%{NAS-IP-Address}" \
		}'
	}

	pool {
		start = ${thread[pool].start_servers}
		min = ${thread[pool].min_spare_servers}
		max = ${thread[pool].max_servers}
		spare = ${thread[pool].max_spare_servers}
		uses = 0
		retry_delay = 30
		lifetime = 0
		idle_timeout = 60
	}
}
